*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

:root{
    --some-orange: #ff8c00;
    --some-darker-orange: #e07d03;
    --pink-white: #FFFAF0;
}

::selection {
    background-color: var(--some-darker-orange);
    color: black;
  }

body{
    overflow-x:hidden;
    overflow-y:scroll;
}


header{
    height:10vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height:8vh;
    width:11vw;
    margin-left: 20px;
}



nav{
    height:10vh;
    width: 50%;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a{
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 5;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none; /* hide */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.left-container{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    font-size: 1.2em;
}

header a:not(#home-link){
    color:black;
    text-decoration: none;

}

header a:not(#home-link):hover{
    color:var(--some-orange);
    
}

header a:first-child{
    color:var(--some-orange);
    text-decoration: none;
}

button{
    background-color: var(--some-orange);
    height:8vh;
    width:10vw;
    border: none;
    color:white;
    border-radius: 30px;
    z-index:3;
}

button:active{
    background-color: var(--some-darker-orange);
}


section a{
    background-color: var(--some-orange);
    height:8vh;
    width:10vw;
    border: none;
    color:white;
    border-radius: 30px;
    z-index:3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



section a:hover{
    transform: translateY(20px);
    transition: 0.3s;
    transition-timing-function: ease-in;
    background-color: transparent;
    border: 4px solid var(--some-orange);
    color: var(--some-orange);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

section a{
    transition: 0.3s;
    transition-timing-function: ease-out;
}



#home{
    width:100%;
    height:90vh;
    background: url("wp4289147-italian-food-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#home::after{
    content: '';
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

#fork, #knife{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index:1;
}

#title{
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly

}

#title h1{
    color:white;
    /* position:absolute; */
    z-index:1;
    animation-name: float-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.last-row-container{
    z-index:2;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    color: white;
    width: 20%;
}

.last-row-container h3{
    color:white;
}

#title h1{
    font-size: 10em;
    font-family: "Berkshire Swash";
}

.last-row-container h3{
    font-size: 2.2em;
}

#title h2{
    color: var(--some-orange);
    z-index:1;
    font-size: 2.2em;
}

#title img{
    z-index:1;
}

#welcome{
    padding: 15vh 5vw;
    width:100%;
    height: 100vh;
    /* background-color: white; */
    background: url("pic28-free-img.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:5vw;
}

#welcome::after{
    content: '';
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
    z-index: 0;
}

#welcome *{
    z-index: 1;
}

#welcome aside:first-of-type{
    
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    justify-self: center;
    
}

.title-reverse{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width: 100%;
}

section h3 {
    font-family: "Berkshire Swash";
}
section p:not(.hours-text) {
    color: grey;
}

section h1 {
    font-family: "Berkshire Swash";
    font-size: 3em;
}

#welcome aside img{
    width: 20vw;
    height: 60vh;
    object-fit: cover;   /* to keep the img at the original aspect ratio */
    border: 1px solid var(--some-darker-orange);
}

#welcome aside{
    height: 60vh;
    width: 20vw;
    overflow: hidden;
    padding-bottom: 5vh;
}

#welcome aside:nth-child(2){
    justify-self: center;
}

#welcome aside:last-of-type{
    transform: scaleX(-1);
    justify-self: center; /* to keep the positioning right, because of scaleX(-1) */
}

.hours{
    width: 20vw;
    height: 60vh;
    position: absolute;
    z-index:1;
    right:8.1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.8));
    color:white;
}

.hours h1{
    font-family: "Berkshire Swash";
    font-size: 3em;;
}

#menu-presentation{
    height: 65vh;
    width:100vw;
    background: url("pic28-free-img.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#menu-grid a{
    z-index: 2;
}

#menu-presentation::after{
    content: '';
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
    z-index: 0;
}

#menu-presentation *{
    z-index:1;
}

.text-container{
    width:100%;
    height: 20%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.empty-div{
    content:"";
    height:30vh;
}

#menu-grid{
    height: 150vh;
    width:100%;
    background: url("italy4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-grid::after{
    content: '';
    position: absolute;
    top: 265vh;
    left: 0;
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
}


.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index:4;
    width:75vw;
    height: 120vh;
    margin: 0 auto;
    top: -30vh;
    border: 1px solid var(--some-orange);
}
  
.grid > div {
    background-color: var(--pink-white);
}

.grid > div > img {
    width:100%;
    height:100%;
    object-fit: cover;  
}

.price{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding:60px;
    text-align: center;
}

#reviews{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.people-rev{
    height: 90vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.rev{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

@media only screen and (min-width: 1200px){

    .rev{
        transform: scale(0.9); /* Slightly smaller size */
        opacity: 0.5; /* Initial opacity for inactive reviews */
        transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
        animation: highlightReviews 10s ease-in-out infinite;
    }

    .rev:nth-child(1) {
        animation-delay: 0s;
      }
      
      .rev:nth-child(2) {
        animation-delay: 5s;
      }
      
      .rev:nth-child(3) {
        animation-delay: 10s;
      }
      
      @keyframes highlightReviews {
        0%, 100% {
          transform: scale(0.9); /* Slightly smaller size */
          opacity: 0.5; /* Semi-transparent */
        }
        50%{
          transform: scale(1.1); /* Larger size */
          opacity: 1; /* Full opacity */
        }
      }
    
}


footer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background: url("Prepare-dish-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);

}

footer h1{
    font-family: "Berkshire Swash";
    font-size: 2.5em;
}

footer h1, h2, h4{
    z-index: 2;
}

@media only screen and (max-width:1200px){


    #welcome aside {
        width: 30vw;
        height: 40vh;
    }

    #welcome aside img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #welcome aside img:last-of-type{
        margin-right: 5vw;
    }

    .hours {
        width: 23.5vw;
        height: 30vh;
        right: 0;
        top: 120vh;
        font-size: 1.5em;
    }

    .hours h1 {
        font-size: 2em;
    }

    button{
        width: 20vw;
    }

   
    .people-rev {
        position: static;
        width: 90%;
        height: auto;
    }
    
    .rev {
        max-width: 500px;
    }
    
    
}

@media only screen and (max-width:800px){

    /* navbar  */

    .hide{
        display: none;
    }

    .left-container{
        flex-direction: row-reverse;
    }

    #reservation-button{
        margin-right: 70px;
    }

    #logo{
        width: auto;
    }

    #welcome aside,
    .hours {
        width: 80vw;
        height: auto;
        margin: 10px auto;
        padding-left: 5vw;
    }

    #welcome img{
        display: none;
    }



    .hours {
        position: static;
        right: auto;
        padding: 20px;
        background: none;
        color: black;
        text-align: center;
    }

    .hours h1 {
        font-size: 1.5em;
    }

    button{
        width: 30vw;
    }

    

    #reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .people-rev {
        width: 90%;
    }

    .rev {
        max-width: 400px;
    }

    .rev h2 {
        font-size: 1em;
    }

    .grid{
        display: flex;
        height: auto;
        flex-direction: column;
    }

    #menu-grid{
        height: auto;
    }

    #menu-grid::after{
        height: auto;
    }

    #menu-grid button{
        transform: translateY(-40px);
    }

   #menu-grid button:hover{
        transform: translatey(-40px);
   }

   


}

@media only screen and (min-width:800px){
    .show{
        display:none;
    }
}

@media only screen and (max-width: 400px){
    .sidebar{
        width: 100%;
    }

    #logo{
        width: 30vw;
    }

    #reservation-button{
        width: 200px;
        border-radius: 15px;
    }

    #fork, #knife{
        height: auto;
    }

    #home{
        width:auto;
        height: auto;
        background: rgba(0, 0, 0, 0.5);

    }

    #home h1{
        font-size: 3rem;
    }

    #home h2 h4{
        font-size: 1rem;
    }

    #home h3{
        font-size: 1rem;
    }

    #home::after{
        height: 55vh;
        
    }

    #menu-grid{
        background: rgba(0, 0, 0, 0.5);
    }

    #menu-presentation::after{
        height:20vh;
    }

    #reviews{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 200vh;
    }

    .people-rev {
        width: 90%;
        height: auto;
    }

    .rev {
        flex-direction: column;

    }

    .rev h2 {
        font-size: 1em;
    }
    
}

/* Menu Page */

.page-title{
    height: 70vh;
    width:100%;
}

.page-title::after{
    content: '';
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:0;
}

.page-title * {
    z-index:1;
}

#menu-title{
    background: url("dine-out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.title-heading{
    height:20vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:10vw;
}

.title-heading h1{
    font-family: "Berkshire Swash";
    font-size: 5em;
    color:white;
}


.menu-section{
    height: 90vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-section:first-of-type{
    background: url("pic48-free-img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.menu-section:nth-of-type(2){
    background-color: var(--pink-white);
    flex-direction: row-reverse;
}

.menu-section:last-child{
    background-color: white;
}

.menu-img-back{
    width: 430px;
    height:60vh;
    border-radius:10%;
    z-index:0;
    filter:grayscale(50%);
}

.menu-img-front{
    width:450px;
    height:70vh;
    border-radius:10%;
    position: absolute;
    transition-duration: 0.5s;
}


.menu-img-front:hover{
    transform: translateY(30px);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#pasta-img{
    top:90vh;
    left: 12%;
}

#pizza-img{
    top: 180vh; /* section height (90vh) + pasta-img top */
    right: 8%;
}

#platter-img{
    top: 270vh; /* section height (90vh) + pizza-img top */
    left: 12%;
}

.menu-item .sp{
    width:70%;
}

.menu-item{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}



#promo{
    background-color: white;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 10vh;
}

.promo-ad{
    width: 40vw;
    height: 50vh;
    background: url("PastaBackground.jpg");
    background-size:cover;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 2vw;
}

.promo-ad::after{
    content: '';
    position: absolute;
    width: 40vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:  2vw;
}


.promo-ad *{
    z-index:1;
    color:white;
}

.promo-item div p {
    color: white;
    font-weight: lighter;
}

.promo-item div h4 {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.promo-ad hr{
    width: 80%;
    color: grey;
}

.promo-ad:nth-child(2){
    grid-row: 2 / 3;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: 5vw;
}

.promo-ad:nth-child(3){
    grid-row: 2 / 3;
    grid-column: 2/3;
    margin-left: 5vw;
    margin-right: auto;;
}

.promo-item{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-item div{
    width: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#promo h1{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}


/* Menu responsive */

@media only screen and (max-width: 1200px) {
    .menu-img-back {
        display: none;
    }

    .menu-img-front {
        width: 30vw;
        height: auto;
        position: static;
        margin: 0 5vw;
    }


    .menu-page{
        width: 80vw;
        
    }

    #pizza .menu-page{
        margin-left: 5vw;
    }

    #pasta-img,
    #pizza-img,
    #platter-img {
        top: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (max-width: 800px){

    
    #pizza{
        background-color: white;
    }

    .menu-section {
        padding-top: 10vh;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-section:nth-of-type(2) {
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .menu-img-front {
        width: 50vw;
        height: auto;
        margin-bottom: 10vh;
    }

    #pasta-img,
    #pizza-img,
    #platter-img {
        margin-bottom: 20px;
        position: static;
    }


    #promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        height: auto;
        max-width: 80vw;
        margin: 0 auto;
        padding: 20px;
    }

    .promo-ad {
        width: 100%;
        margin: 20px 0;
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
    }

    .promo-ad::after{
        display: none;
    }


    .promo-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .promo-ad:nth-child(2){
        margin-left:0;
        margin-right:0;
    }

    .promo-ad:nth-child(3){
        margin-left:0;
        margin-right:0;
    }

   
}


@media only screen and (max-width: 400px){
    .promo-ad{
        height: auto;
    }
}





/* CONTACT */

#about{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about aside img{
    transform: scaleX(-1);
    justify-self: center; 
    width: 20vw;
    height: 60vh;
    object-fit: cover; 
}

.hours-contact{
    width: 20vw;
    height: 60vh;
    position: absolute;
    z-index:1;
    right:3.25vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.8));
    color:white;
}

#map iframe {
    width:100%;
    height: 100%;
    filter: grayscale(100%);
}

#map{
    width:70%;
    height: 60vh;
}

/* Contact responsive */

@media only screen and (max-width: 1200px){
    #about{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #about aside img {
        width: 50vw;
        height: 70vh;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }

    .hours-contact {
        position: relative;
        width: 50vw;
        height: 70vh;
        right: auto;
        top: 100vh;
        position: absolute;
    }

    #map {
        width: 90%;
        height: 40vh;
        margin-top: 10vh;
    }

}

@media only screen and (max-width:800px){
    .hours-contact, #about aside img{
        height:50vh;
        width:60vw;
    }
}


/* General */

@media only screen and (max-width: 1200px){
    .page-title{
        height:30vh;
        width:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-title h1{
        font-size: 3rem;
    }

    .page-title::after{
        height:30vh;
        width:auto;
    }
}

@media only screen and (max-width: 800px){
    .page-title img{
        display: none;
    }
}